<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>Here are the packages we've found you're using. We'll let you know as soon as any of them is upgraded.</h1>
		<table class="table">
		<% packages.forEach(function(pkg){ %>
			<tr>
				<td><%=pkg%></td>
			</tr>
		<% }) %>
		</table>
	</div>
</div>
