<section class="inner-section">

	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">

				<!-- <span class="icon-96">
	      			<i class="ion-social-github"></i>
	    		</span>
				 -->
				<h2>Terms of Service and Privacy Policy</h2>

				<div class="colored-line">
				</div>

				<div class="sub-heading">
					This will be layout in plain English
				</div>

				<div style="text-align: left;">
					<ul>
					<li style="list-style: disc;">
						ZPDER mission is keep you informed when npm packages you use have newer versions.
					</li>
					<li style="list-style: disc;">
						We ask for the following GitHub permissions: user:email,repo. We ask for the user:email permission because we need the email to be able to send you notificaitons when packages you use have newer versions. We will never share your email and never spam you. We include unsubscribe links with any system email that we send. We need the repo permission so we can scan your repositories to learn which npm packages you use. Though this allows us also write permission, we never do any writes, we just need to ask you this permission because of lack of granularity of GitHub oauth apps, this is the only way you can provide us read access to private repositories. We will never share any of your code with anyone. We just look for package.json files and analyze their contents.
					</li>
					<li style="list-style: disc;">
						We save your github login name and ID. We do so so we can approach you appropriately with your handle when we need to contact you. We will never use or share them with anyone except you.
					</li>
					<li style="list-style: disc;">
						Once you log in, we use cookies to keep you logged in. So yeah, we use cookies. We merely save your session ID in them.
					</li>
					<li style="list-style: disc;">
						You can always contact us via email: <%=config.get('app.email')%>
					</li>
					<li style="list-style: disc;">
						Apologies for not spending on a lawyer to craft some legal blurb here. We rather invest in the product rather than in the lawyer.
					</li>
				</ul>
				</div>

<!-- 				<form class="contact-form" method="POST" action="/configure-issue-tracker">
					<div class="field-wrapper col-md-6 col-md-offset-3">
						<input class="form-control input-box" type="text" name="url" placeholder="Service URL" value=""></p>
					</div>
					<div class="field-wrapper col-md-6 col-md-offset-3">
						<input class="form-control input-box" type="text" name="token" placeholder="Token" value=""></p>
					</div>
					<div class="field-wrapper col-md-6 col-md-offset-3">
						<input class="form-control input-box" type="text" name="project_name" placeholder="Project Name" value=""></p>
					</div>
					<div class="field-wrapper col-md-6 col-md-offset-3">
						<input class="form-control input-box" type="text" name="branch_name" placeholder="Branch Name" value=""></p>
					</div>
					<div class="field-wrapper col-md-12">
						<button id="submit-button" class="btn standard-button" type="submit" data-style="expand-left">Next >></button>
					</div>
				</form>
 -->			</div>
		</div>
	</div>
</section>
