<div class="row">
	<div class="col-md-8 col-md-offset-2 connect-storage-top">
		<h2>Cheers mate! You were successfully unsubscribed from <%=email_type%> emails</h2>

		<div class="colored-line">
		</div>

	</div>
</div>
